# erlang common ignore files
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar


# project-specific
applications/
bin/
doc/
ebin/
examples/
include/
logs/
priv/
rollbackBackupDirectory/
ssl/
LICENSE
README.txt
*.lnk
vsn.mk
*.exe
*.deb