Package: ttask
Version: 1.0
Maintainer: Konstantin Chugalinskiy kchugalinskiy@yandex.ru
Architecture: all
Section: misc
Description: Hire me :-)
Depends: erlang (>= 16.0), yaws (>= 1.98)
Origin: https://github.com/konstantinchugalinskiy/TestTask
